*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body{
    overflow-x: hidden;
    font-size: 62.5%;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: black;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    margin-left: 15px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin-right: 16px;
}
.navbar .menu li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 10px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.menu-btn{
    color: #fff;
    font-size: 1.5rem;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:800px) {
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 26%;
        transition: all 0.8s ease-in-out;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(pexel.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: background;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes background{
    0%{
        background: url(waller.jpg);
    } 20%{
        background: url(waller1.jpg);
    } 40%{
        background: url(waller3.jpg);
    } 60%{
        background: url(pexel.jpg);
    } 80%{
        background: url(waller1.jpg);
    } 100%{
        background: url(waller3.jpg);
    }
}


.content{
    display: flex;
    justify-content: center;
    
}
.content-desc{
    width: 50%;
    position: absolute;
    top: 26%;
    left: 4%;
}
.content-desc h1{
    font-size: 3rem;
    color: #f50057;
    font-family: cursive;
    margin-bottom: 20px;
    animation: header 10s ease-in-out 10s infinite;
    transition: 2s linear;
    
}

.content-desc p{
    font-size: 1.2rem;
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 25px;
}
.game{
    margin-top: 50px;
}
.game-desc{
    margin-left: 20px;
}
.game p{
    margin: 0;
}

.hero-image img{
    width: 50%;
    height: auto;
    position: absolute;
    top: 120px;
    right: 100px;
    z-index: 1;
}
footer{
    position: absolute;
    height: 11vh;
    top: 146%;
    width: 100%;
    background-color: black;
}
.heroP{
    font-size: 1rem;
    text-align: center;
    color: crimson;
    padding: 29px 0px 0px 0px;
}
@media (min-width:320px) {
    .content-desc{
        top: 36%;
    }
}
@media (min-width:1000px) {
    .hero-image img{
        right: 34px;
    }
}
@media (min-width:700px) {
    .hero-image img{
        right: 32px;
    }
    .content-desc{
        top: 20%;
        left: 3%;
    }
    footer{
        top: 100%;
    }
}
