/* Created by harsh*/

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-680455.jpg);
    background-repeat: repeat;
  }